<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    {{techs}}

    {% for t in techs %}
        {% if t == 'python' %}
            <li style="background-color: green;">{{t}}</li>
        {% else %}
            <li>{{t}}</li>
        {% endif %}
    {% endfor %}

    {{technologies}}

    <select>
    {% for k,v in technologies.items %}
        <optgroup label="{{k}}">
        {% for i in v %}
             <option>{{i}}</option>
        {% endfor %}
        </optgroup>
    {% endfor %}
    </select>

    <form method="post" action="{% url 'add' %}">
        {% csrf_token %}
        <input type="email" name="email" />
        <input type="password" name="password" />

        <input type="submit" />
    </form>
</body>
</html>